In [59]:
import pandas as pd
import numpy as np
import re

In [60]:
f=open('WhatsApp Chat with ICE 2  UNOFFICIAL.txt','r',encoding='utf-8')
# re regular expression

In [61]:
data=f.read()

In [62]:
print(type(data))

<class 'str'>

In [63]:
pattern='\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s-\s'

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
/var/folders/d5/s33y7b8n1xj92385fh65c3h40000gn/T/ipykernel_49752/1677645027.py:1: SyntaxWarning: invalid escape sequence '\d'
  pattern='\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s-\s'

In [64]:
message=re.split(pattern,data)[1:]
# message

In [69]:
dates=re.findall(pattern,data)
# dates

In [70]:
df=pd.DataFrame({'user_message': message,'message_date':dates})

In [71]:
df['message_date'] = pd.to_datetime(df['message_date'], format="%d/%m/%Y, %H:%M - ")
df.rename(columns={'message_date':'date'},inplace=True)
df.shape

(16186, 2)

In [76]:
   users = []
   messages = []
   for message in df['user_message']:
        entry = re.split('([\w\W]+?):\s', message)
        if entry[1:]:  # user name
            users.append(entry[1])
            messages.append(" ".join(entry[2:]))
        else:
            users.append('group_notification')
            messages.append(entry[0])

   df['user'] = users
   df['message'] = messages
   df.drop(columns=['user_message'], inplace=True)

<>:4: SyntaxWarning: invalid escape sequence '\w'
<>:4: SyntaxWarning: invalid escape sequence '\w'
/var/folders/d5/s33y7b8n1xj92385fh65c3h40000gn/T/ipykernel_49752/1147115765.py:4: SyntaxWarning: invalid escape sequence '\w'
  entry = re.split('([\w\W]+?):\s', message)

In [79]:
df.sample(n=5)

,date,user,message
13907,2025-02-24 13:52:00,Bhanuj Chowdhary Ice-2,Wo sab to theek hai bhai\n
4581,2024-03-22 04:23:00,Anany Dixit Ice,<Media omitted>\n
1338,2024-01-20 19:32:00,+91 74044 87188,Ok\n
7789,2024-08-26 23:51:00,+91 99119 51045,Hai to hai\n
1156,2024-01-18 11:10:00,+91 87450 67960,Koi jo pichhe baitha hoga please proxy lga den...

In [82]:
df['year']=df['date'].dt.year
df['month']=df['date'].dt.month
df['month']=df['date'].dt.day
df['minute']=df['date'].dt.minute

In [84]:
df.sample(n=3)

,date,user,message,year,month,minute
7197,2024-08-14 20:50:00,Chandrakant,Han han bola toh usne pure sem ki chhuti ðŸ« ðŸ« \n,2024,14,50
14894,2025-04-13 18:52:00,+91 87007 70566,ðŸ¥¶\n,2025,13,52
6717,2024-07-23 18:13:00,+91 98214 56582,2nd sem me to ho gya tha ig\n,2024,23,13

0